.carousel {
  cursor: grab;
  overflow: hidden;

  width: 500px;
  height: 450px;
}

.inner {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #242625;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;

  width: 450px;

  opacity: 0.3;

  transition: transform 250ms ease-in-out;
}

.item[data-card-active='true'] {
  opacity: 1;
  transform: scale(1.1);
}

.icon {
  color: #525050;
  stroke: #525050;
  position: absolute;

  bottom: 0;
  right: -55px;
}

.techName {
  z-index: 1;
  font-size: 25px;
  margin-bottom: 20px;
}

.tagContainer {
  background-color: var(--font-color-highlight);
  width: 100%;
  position: absolute;
  bottom: 0;

  z-index: 1;
}

.tag {
  font-size: 13px;
  text-align: center;
}

@media screen and (max-width: 780px) {
  .carousel {
    width: 325px;
    margin-left: 50px;
  }

  .item {
    width: 300px;
  }
}

@media screen and (max-width: 475px) {
  .carousel {
    width: 280px;
    margin-left: 50px;
  }

  .item {
    width: 230px;
  }
}
