.tech {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 150px;
  padding: 0 20px;
  position: relative;
}

@media screen and (max-width: 480px) {
  .tech {
    width: 300px;
  }
}

.title {
  margin-bottom: 40px;
}

.techContainer {
  position: relative;
  height: 600px;
}

.backgroundText {
  font-size: 96px;
  opacity: 0.05;
  transform: rotate(270deg);
  position: absolute;
  top: 260px;
  left: -117px;
}

.arrowDown {
  background-color: --var(--font-color-highlight);
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  right: -45px;
  top: 420px;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    top: 400px;
  }
}

@media screen and (max-width: 600px) {
  .tech {
    width: 100%;
    padding: 0 30px;
    align-items: start;
  }

  .backgroundText {
    top: 300px;
    left: -235px;
  }
}
